{% extends 'graduateProject/base/base.html' %}


{% block content %}
{% include 'graduateProject/inc/index/index.html' %}

<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">경험 열람실</h1>
        <p class="text-center">교육소외지역 / 교육소외계층에 새로운 포맷의 교육을 제공합니다.</p>
        <br>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">과외 패키지 신청</a></p>
    </div>
</div>

<div class="container">
    <h3>인기 Senior</h3>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card-horizen">
                <div class="row">
                    <div class="col-4">
                        <img class="circle" src="/static/graduateProject/images/leejaeyoung.jpeg" alt="leejaeyoung">
                    </div>
                    <div class="col-8">
                        <h5 class="card-horizen-title">Double-Dragon</h5>
                        주요분야 : <span class="card-horizen-context">부문-분야 / 부문-분야 / 부문-분야</span>
                        <br>
                        <span>인기점수 : 278</span>
                        <br>
                        <span>포인트 : 58000</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card-horizen">
                <div class="row">
                    <div class="col-4">
                        <img class="circle" src="/static/graduateProject/images/leejaeyoung.jpeg" alt="leejaeyoung">
                    </div>
                    <div class="col-8">
                        <h5 class="card-horizen-title">Double-Dragon</h5>
                        주요분야 : <span class="card-horizen-context">부문-분야 / 부문-분야 / 부문-분야</span>
                        <br>
                        <span>인기점수 : 278</span>
                        <br>
                        <span>포인트 : 58000</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card-horizen">
                <div class="row">
                    <div class="col-4">
                        <img class="circle" src="/static/graduateProject/images/leejaeyoung.jpeg" alt="leejaeyoung">
                    </div>
                    <div class="col-8">
                        <h5 class="card-horizen-title">Double-Dragon</h5>
                        주요분야 : <span class="card-horizen-context">부문-분야 / 부문-분야 / 부문-분야</span>
                        <br>
                        <span>인기점수 : 278</span>
                        <br>
                        <span>포인트 : 58000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>인기 실록</h3>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card-vertical align-center-parent">
                <img class="card-vertical-thumbnail" src="/static/graduateProject/images/questionList.png" alt="leejaeyoung">
                <div class="row card-vertical-list">
                    <div class="col-3"><span class="credit">3,000</span></div>
                    <div class="col-5">Double-Dragon</div>
                    <div class="col-2">278</div>
                    <div class="col-2"><span class="credit"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card-vertical"></div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card-vertical"></div>
        </div>
    </div>
</div>


{% endblock %}