<footer style="background-color: #000000; color: #ffffff; margin-top: 20px;">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-2" style="text-align: center;">
                <h5>WebSite Copyright &copy; 2019</h5>
                <h5>PUBLISHING</h5>
            </div>
            <div class="col-sm-4" style="text-align:center;">
                <h4>대표자 소개</h4>
                <p>마진형 : 고려대학교 컴퓨터학과</p>
            </div>
            <div class="col-sm-2" style="text-align:center;">
                <h4>프로젝트 소개</h4>
                <p>교육소외지역, 교육소외계층에 새로운 포맷의 교육을 제공하고자 시작하게 된 프로젝트입니다.</p>
            </div>
            <div class="col-sm-2" style="text-align:center;">
                <h4 style="text-align: center;">SNS</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item">사이트</a>
                    <a href="#" class="list-group-item">페이스북</a>
                    <a href="#" class="list-group-item">트위터</a>
                </div>
            </div>
            <div class="col-sm-2" style="text-align:center;">
                <h4 style="text-align: center;">
                    <span class="glyphicon glyphicon-ok"></span> &nbsp; SAVERS
                </h4>
            </div>
        </div>
    </div>
</footer>
