{% extends 'graduateProject/base/base.html' %}
{% block content %}
<div style="height:70px;"></div>
<div class="row block-center">
    <div class="card-box col-8">
        <div class="row">
            <div class="col-12">
                <h3 class="margin-bottom-10">register completed</h3>
                <h3 class="margin-bottom-10">
                    now you are available to use AWS / Django Application
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 center">
                <input type="button" value="login" onClick="location.href={% url 'signin' %}" />
                <input type="button" value="main" onClick="location.href={% url 'index' %}" />
            </div>
        </div>
    </div>
</div>
{% endblock %}